@font-face {
  font-family: 'TTLakes';
  src: url(./fonts/TTLakes-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'TTLakes';
  src: url(./fonts/TTLakes-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'TTLakes';
  src: url(./fonts/TTLakes-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

.button {
  background-color: #f8f8f8;
  border: none;
  display: flex;
  height: 24px; }

.first-block__button {
  margin: 14px 0; }
  @media screen and (min-width: 768px) {
    .first-block__button {
      margin: 8px 4px;
      order: 2; } }
  @media screen and (min-width: 992px) {
    .first-block__button {
      margin: 14px 4px; } }

.brands__button {
  padding-left: 2.85vw;
  margin: 24px 3px; }
  @media screen and (min-width: 768px) {
    .brands__button {
      margin-top: 0; } }

.brands__button-text {
  margin-left: 10px;
  font-weight: 500; }

.arrow-icon {
  align-self: center;
  padding-inline: 7px;
  width: 8px;
  height: 11px;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.50008 0.500076L4.00008 3.00008L1.50008 0.500076C1.22393 0.223933 0.776218 0.223933 0.500076 0.500076C0.223933 0.776218 0.223933 1.22393 0.500075 1.50008L3.29297 4.29297C3.68349 4.68349 4.31666 4.68349 4.70718 4.29297L7.50008 1.50008C7.77622 1.22393 7.77622 0.776218 7.50008 0.500076C7.22393 0.223933 6.77622 0.223933 6.50008 0.500076ZM6.50008 6.50008L4.00008 9.00008L1.50008 6.50008C1.22393 6.22393 0.776218 6.22393 0.500076 6.50008C0.223933 6.77622 0.223933 7.22393 0.500075 7.50008L3.29297 10.293C3.68349 10.6835 4.31666 10.6835 4.70718 10.293L7.50008 7.50008C7.77622 7.22393 7.77622 6.77622 7.50008 6.50008C7.22393 6.22393 6.77622 6.22393 6.50008 6.50008Z' fill='%2341F6D7' /%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block; }

.arrow-icon.arrow-icon--turned {
  transform: scale(-1); }

/* Icons */
.nav__icon.nav__icon--burger {
  background-image: url(./static/burger.svg); }

.nav__icon.nav__icon--call {
  background-image: url(./static/call.svg); }

.nav__icon.nav__icon--chat {
  background-image: url(./static/chat.svg); }

.nav__icon.nav__icon--checkstatus {
  background-image: url(./static/checkstatus.svg); }

.nav__icon.nav__icon--profile {
  background-image: url(./static/profile.svg); }

.nav__icon.nav__icon--repair {
  background-image: url(./static/repair.svg); }

.nav__icon.nav__icon--search {
  background-image: url(./static/search.svg); }

.nav__icon.nav__icon--x-burger {
  background-image: url(./static/x-burger.svg); }

/* Navigation */
.nav {
  height: 100%;
  display: flex;
  justify-content: space-between; }
  @media screen and (min-width: 992px) {
    .nav {
      width: 45%;
      justify-content: flex-end;
      align-items: center; } }

.nav__left {
  width: 55%; }
  @media screen and (min-width: 768px) {
    .nav__left {
      width: 50%; } }
  @media screen and (min-width: 992px) {
    .nav__left {
      display: none; } }
  @media screen and (min-width: 768px) {
    .nav__left .nav__list {
      justify-content: flex-start;
      padding-left: 24px; } }
  .nav__left .nav__list .nav__item:nth-child(2) {
    display: none; }
    @media screen and (min-width: 768px) {
      .nav__left .nav__list .nav__item:nth-child(2) {
        display: block; } }

.nav__right {
  width: 45%; }
  @media screen and (min-width: 768px) {
    .nav__right {
      width: 50%; } }
  @media screen and (min-width: 992px) {
    .nav__right {
      width: auto;
      position: absolute;
      right: 0px;
      top: 42px; } }
  @media screen and (min-width: 992px) {
    .nav__right .nav__list {
      justify-content: flex-end;
      padding-left: 24px; } }
  .nav__right .nav__list .nav__item:nth-child(1), .nav__right .nav__list .nav__item:nth-child(2), .nav__right .nav__list .nav__item:nth-child(3) {
    display: none; }
    @media screen and (min-width: 768px) {
      .nav__right .nav__list .nav__item:nth-child(1), .nav__right .nav__list .nav__item:nth-child(2), .nav__right .nav__list .nav__item:nth-child(3) {
        display: block; } }

.nav__list {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  height: 88px;
  box-shadow: 0px 2px 0px #d9fff5;
  background-color: #fff; }
  @media screen and (min-width: 768px) {
    .nav__list {
      justify-content: flex-end;
      padding: 0 8px; } }
  @media screen and (min-width: 992px) {
    .nav__list {
      height: auto;
      padding: 0 8px;
      background-color: rgba(0, 0, 0, 0);
      box-shadow: none; } }

.nav__item {
  padding-top: 5px; }
  @media screen and (min-width: 768px) {
    .nav__item {
      margin-right: 16px; } }
  @media screen and (min-width: 992px) {
    .nav__item {
      margin-right: 24px; } }

.nav__link {
  padding: 0;
  text-decoration: none;
  display: flex; }

.nav__icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  transition: all 300ms ease-out; }
  .nav__icon:hover {
    -webkit-filter: invert(1);
            filter: invert(1);
    transform: scale(1.1); }

.nav__divider-img {
  background: url(./static/divider.svg) center no-repeat;
  width: 10px;
  height: 40px; }

.nav__logo {
  width: 97px;
  height: auto; }

.nav__text {
  display: none; }
  @media screen and (min-width: 992px) {
    .nav__text {
      display: block;
      color: #1b1c21;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      margin: auto 10px;
      text-align: right; } }

@media screen and (min-width: 992px) {
  .nav__right .nav__list .nav__item:not(:nth-child(5)):not(:nth-child(6)) {
    display: none; } }

/* Heading */
.heading {
  height: 40px;
  margin-top: 25px; }
  @media screen and (min-width: 992px) {
    .heading {
      margin-top: 42px; } }

.heading__h1 {
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: -0.6px;
  margin-left: 12px; }
  .heading__h1::before {
    display: inline-block;
    content: '';
    height: 40px;
    width: 4px;
    background-color: #41f6d7;
    position: absolute;
    left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    transform: rotate(180deg); }
  @media screen and (min-width: 768px) {
    .heading__h1 {
      margin-left: 20px; } }
  @media screen and (min-width: 992px) {
    .heading__h1 {
      margin-left: 30px; } }

/* Scroll Menu */
.scroll-menu {
  position: relative;
  overflow: auto;
  white-space: nowrap;
  margin-top: 24px;
  scrollbar-width: none;
  /* Firefox fix*/ }
  .scroll-menu::-webkit-scrollbar {
    width: 0px;
    /* Chrome fix */ }
  .scroll-menu::after, .scroll-menu::before {
    display: inline-block;
    position: sticky;
    content: '';
    top: 177px;
    right: 0;
    width: 24px;
    height: 40px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), #f8f8f8) repeat-y; }
    @media screen and (min-width: 992px) {
      .scroll-menu::after, .scroll-menu::before {
        display: none; } }
  .scroll-menu::before {
    left: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), #f8f8f8) repeat-y; }
  @media screen and (min-width: 768px) {
    .scroll-menu {
      margin-top: 32px; } }
  @media screen and (min-width: 992px) {
    .scroll-menu {
      margin-top: 8px;
      white-space: normal;
      padding-left: 32px; } }

.scroll-menu__item {
  color: #7e7e82;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  padding: 7px 14px;
  margin-right: 2px;
  text-decoration: none; }
  @media screen and (min-width: 992px) {
    .scroll-menu__item {
      margin-bottom: 0; }
      .scroll-menu__item:first-child {
        margin-bottom: 8px; } }

.scroll-menu__item.active {
  background-color: #fff;
  border: 2px solid #b8ffec;
  border-radius: 5px; }

.first-block {
  -webkit-margin-before: 8px; }
  @media screen and (min-width: 768px) {
    .first-block {
      display: flex;
      justify-content: center;
      padding: 24px;
      -webkit-padding-before: 8px; } }
  @media screen and (min-width: 992px) {
    .first-block {
      padding: 0 24px;
      -webkit-padding-before: 0; } }

.first-block__text {
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 18px;
  margin: 24px 16px;
  margin-bottom: 16px;
  -webkit-margin-before: 8px; }
  @media screen and (min-width: 768px) {
    .first-block__text {
      display: flex;
      flex-direction: column;
      margin: 8px 48px 16px 0;
      line-height: 20px; } }
  @media screen and (min-width: 992px) {
    .first-block__text {
      margin: 14px 20px 16px 10px; } }

@media screen and (min-width: 768px) {
  .first-block__text1 {
    margin-bottom: 20px; } }

.first-block__text2 {
  display: none; }
  @media screen and (min-width: 768px) {
    .first-block__text2 {
      display: block;
      order: 1; } }

@media screen and (min-width: 768px) and (max-width: 992px) {
  .first-block__text3 {
    display: none; } }

.first-block__read-more {
  margin-left: 8px; }

.first-block__image {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover; }

@media screen and (min-width: 768px) {
  .first-block__figure {
    padding-top: 7px;
    min-width: 50%; } }

@media screen and (min-width: 768px) {
  .first-block__image {
    border-radius: 6px;
    aspect-ratio: 5/3; } }

@media screen and (min-width: 768px) {
  .first-block__image {
    aspect-ratio: 16/9; } }

.brands__heading {
  color: #7e7e82;
  text-transform: uppercase;
  font-weight: normal;
  box-shadow: inset 0px 1px 0px #d9fff5;
  background-image: linear-gradient(to right, #f8f8f8, #fff);
  padding: 16px;
  margin-bottom: 0; }
  @media screen and (min-width: 768px) {
    .brands__heading {
      padding-inline: 24px;
      margin-bottom: 24px; } }
  @media screen and (min-width: 992px) {
    .brands__heading {
      padding-inline: 32px; } }

.brands__list {
  display: flex;
  justify-content: flex-start;
  row-gap: 15px;
  flex-wrap: nowrap;
  padding: 0; }
  @media screen and (min-width: 768px) {
    .brands__list {
      padding-left: 24px;
      flex-wrap: wrap; } }
  @media screen and (min-width: 992px) {
    .brands__list {
      padding-left: 32px; } }

.brands__item {
  background: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='38' height='38' rx='19' stroke='%23FF3E79' stroke-width='2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.5 20L17.7071 16.2071C17.3166 15.8166 17.3166 15.1834 17.7071 14.7929L17.7929 14.7071C18.1834 14.3166 18.8166 14.3166 19.2071 14.7071L23.7929 19.2929C24.1834 19.6834 24.1834 20.3166 23.7929 20.7071L19.2071 25.2929C18.8166 25.6834 18.1834 25.6834 17.7929 25.2929L17.7071 25.2071C17.3166 24.8166 17.3166 24.1834 17.7071 23.7929L21.5 20Z' fill='%23FF3E79'/%3E%3C/svg%3E%0A") no-repeat;
  background-position: 92% 50%;
  background-color: #fff;
  list-style: none;
  width: 100%;
  height: 72px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  overflow: hidden;
  margin: 16px;
  min-width: 238px; }
  @media screen and (min-width: 768px) {
    .brands__item {
      height: 70px;
      min-width: auto;
      margin: 0;
      margin-right: 24px; } }
  @media screen and (min-width: 992px) {
    .brands__item {
      margin-right: 32px; } }

.brands__link {
  display: flex;
  padding-left: 16px;
  height: 100%;
  min-width: 190px;
  max-width: 222px; }

.brands__img {
  margin: auto 0;
  max-width: 128px; }

.brands-swiper-section {
  display: block;
  margin-inline: auto;
  background-color: rebeccapurple; }

.swiper {
  width: 100%;
  height: 130px; }
  .swiper::after, .swiper::before {
    display: inline-block;
    position: absolute;
    content: '';
    top: 14px;
    right: 0;
    width: 24px;
    height: 80px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), #f8f8f8) repeat-y;
    z-index: 2; }
  .swiper::before {
    left: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), #f8f8f8) repeat-y; }
  @media screen and (min-width: 768px) {
    .swiper::after, .swiper::before {
      display: none; } }

.swiper-slide {
  display: flex;
  width: 240px; }
  @media screen and (min-width: 768px) {
    .swiper-slide {
      width: calc(100% / 3);
      margin-right: 0 !important; }
      .swiper-slide:nth-child(n + 7) {
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: opacity 200ms linear, height 200ms linear; } }
  @media screen and (min-width: 992px) {
    .swiper-slide {
      width: calc(100% / 4); }
      .swiper-slide:nth-child(n + 9) {
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: opacity 200ms linear, height 200ms linear; } }

@media screen and (min-width: 768px) {
  .brands__list.brands__list--show-brands .swiper-slide:nth-child(n + 7) {
    opacity: 1;
    height: 70px;
    flex-grow: 0;
    padding-bottom: 2px;
    transition: opacity 200ms linear, height 200ms linear; }
  .brands__list.brands__list--show-brands .swiper-slide:last-child {
    margin-bottom: 24px; } }

@media screen and (min-width: 992px) {
  .brands__list.brands__list--show-brands .swiper-slide:nth-child(n + 9) {
    opacity: 1;
    height: 70px;
    padding-bottom: 2px;
    transition: opacity 200ms linear, height 200ms linear; } }

.swiper-pagination {
  display: block;
  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-bottom: 14px;
  --swiper-pagination-color: $swiperGrey;
  --swiper-pagination-bullet-inactive-color: $lightGrey;
  --swiper-pagination-bullet-inactive-opacity: 1; }
  @media screen and (min-width: 768px) {
    .swiper-pagination {
      display: none; } }

.sidebar {
  height: 100%;
  inset: 0 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 320px;
  background: #fff;
  z-index: 2;
  box-shadow: 16px 0 52px 0 #0e1850;
  overflow-y: auto;
  scrollbar-width: none;
  /* hide in Firefox */ }
  .sidebar::-webkit-scrollbar {
    width: 0px;
    /* hide in Chrome */ }

.sidebar .nav__list {
  justify-content: flex-start;
  align-items: center;
  height: 88px;
  padding: 0 24px;
  background-color: #fff;
  box-shadow: none; }
  .sidebar .nav__list .nav__item {
    margin-right: 0;
    padding-top: 2px;
    padding-right: 16px; }
  .sidebar .nav__list .nav__item.nav__item--moved-right {
    margin-left: auto;
    padding-right: 0; }

.sidebar__links ul {
  padding: 16px 0px; }
  .sidebar__links ul li a {
    display: inline-block;
    padding: 16px 24px;
    text-decoration: none;
    transition-duration: 300ms;
    transition-property: transform;
    transition-timing-function: ease-in-out; }
    .sidebar__links ul li a:hover {
      transform: translateX(8px) scale(1.1); }

.sidebar__links--active a {
  color: #7e7e82;
  position: relative;
  padding-left: 24px; }
  .sidebar__links--active a::before {
    content: '';
    display: inline-block;
    height: 32px;
    width: 4px;
    background-color: #41f6d7;
    position: absolute;
    left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    transform: rotate(180deg) translateY(4px); }

.sidebar__links--mailto a {
  margin-top: 6px;
  padding: 10px 24px; }

.sidebar__contacts {
  margin-top: auto;
  margin-bottom: 12px; }
  .sidebar__contacts .nav__list.sidebar__list {
    height: auto; }

.sidebar__phone-num a {
  color: #1b1c21;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: -0.6px;
  text-decoration: none;
  padding: 8px 24px;
  transition: transform 300ms ease-in-out; }
  .sidebar__phone-num a:hover {
    transform: translateX(12px) scale(1.2); }

.sidebar__button {
  padding: 28px 20px; }
  .sidebar__button li {
    display: inline-block;
    transition: transform 300ms ease; }
    .sidebar__button li:hover {
      transform: scale(1.3); }
    .sidebar__button li button {
      border: none;
      color: #1b1c21;
      background-color: #fff;
      padding: 3px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      cursor: pointer; }
      .sidebar__button li button[disabled] {
        color: grey;
        cursor: default; }

* {
  margin: 0;
  padding: 0;
  font-family: 'TTLakes', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21; }

html,
body {
  background-color: #f8f8f8;
  height: 100%; }

body * {
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit; }

header,
main {
  position: relative;
  max-width: 1120px;
  margin: 0 auto; }


/*# sourceMappingURL=style.css.map*/