@import './variables.scss';
@import './colors.scss';

.button {
  background-color: $bgColor;
  border: none;
  display: flex;
  height: 24px;
}

.first-block__button {
  margin: 14px 0;
  @media screen and (min-width: $screen-md) {
    margin: 8px 4px;
    order: 2;
  }
  @media screen and (min-width: $screen-lg) {
    margin: 14px 4px;
  }
}

.section {
  &__button {
    display: none;
    padding-left: 2.85vw;
    margin: 24px 3px;
    @media screen and (min-width: $screen-md) {
      display: flex;
      margin-top: 0;
    }
  }
  &__button-text {
    margin-left: 10px;
    font-weight: 500;
  }
}


.arrow-icon {
  align-self: center;
  padding-inline: 7px;
  width: 8px;
  height: 11px;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.50008 0.500076L4.00008 3.00008L1.50008 0.500076C1.22393 0.223933 0.776218 0.223933 0.500076 0.500076C0.223933 0.776218 0.223933 1.22393 0.500075 1.50008L3.29297 4.29297C3.68349 4.68349 4.31666 4.68349 4.70718 4.29297L7.50008 1.50008C7.77622 1.22393 7.77622 0.776218 7.50008 0.500076C7.22393 0.223933 6.77622 0.223933 6.50008 0.500076ZM6.50008 6.50008L4.00008 9.00008L1.50008 6.50008C1.22393 6.22393 0.776218 6.22393 0.500076 6.50008C0.223933 6.77622 0.223933 7.22393 0.500075 7.50008L3.29297 10.293C3.68349 10.6835 4.31666 10.6835 4.70718 10.293L7.50008 7.50008C7.77622 7.22393 7.77622 6.77622 7.50008 6.50008C7.22393 6.22393 6.77622 6.22393 6.50008 6.50008Z' fill='%2341F6D7' /%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.arrow-icon.arrow-icon--turned {
  transform: scale(-1);
}
