// color variables
$bgColor: #f8f8f8;
$textColor: #1b1c21;
$headerHighlightColor: #41f6d7;
$sidebarShadowClr: #0e1850;
$greyTextColor: #7e7e82;
$scrollActiveColor: #b8ffec;
$brandsHeadingBg: #d9fff5;
$brandsItemBorderClr: #eaeaea;
$transparent: rgba(0, 0, 0, 0);
$swiperGrey: #b5b6bc;
$lightGrey: #ddd;
$white: #fff;
