@import './variables.scss';
@import './colors.scss';

.first-block {
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 18px;
  margin-top: 24px;
  margin-bottom: 16px;
  br {
    display: none;
    opacity: 0;
    margin: 4px;
    &:first-of-type {
      display: block;
    }
  }
  span {
    margin-inline: 16px;
    @media screen and (min-width: $screen-md) {
      margin-inline: 0;
    }
  }
  @media screen and (min-width: $screen-md) {
    display: block;
    padding: 24px;
    line-height: 20px;
  }
  @media screen and (min-width: $screen-lg) {
    padding: 0 24px;
    margin-top: 0;
    margin-bottom: 40px;
  }
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

.first-block {
  &__text1 {
    display: block;
  }

  &__text2 {
    display: none;
    @media screen and (min-width: $screen-md) {
      display: block;
    }
  }
  
  &__text3 {
    display: none;
  }

  &__read-more {
    margin-left: 8px;
  }
  
  &__image {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
  }

  &__figure {
    @media screen and (min-width: $screen-md) {
      padding: 7px;
      padding-right: 0;
      width: 50%;
      float: right;
    }
  }
  
  &__image {
    @media screen and (min-width: $screen-md) {
      border-radius: 6px;
      aspect-ratio: 5/3;
    }
    @media screen and (min-width: $screen-md) {
      aspect-ratio: 16/9;
    }
  }  
}

.first-block.first-block__text--show {
  .first-block__text2,
  .first-block__text3,
  br {
    display: block;
  }
}

