/* Swiper */

.swiper-slide {
  margin-right: 0 !important;
}

.swiper-slide:nth-child(n + 9) {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, height 200ms linear;
}

.brands__list.brands__list--show-brands .swiper-slide:nth-child(n + 9) {
  opacity: 1;
  height: 70px;
  padding-bottom: 2px;
  transition: opacity 200ms linear, height 200ms linear;
}
