/* Navigation */
.nav__left {
  width: 55%;
}

.nav__right {
  width: 45%;
}

.nav__list {
  justify-content: space-evenly;
  align-items: center;
  height: 88px;
  box-shadow: 0px 2px 0px $brandsHeadingBg;
  background-color: $white;
}

.nav__item {
  padding-top: 5px;
}

.nav__left .nav__list .nav__item:nth-child(2) {
  display: none;
}

.nav__right .nav__list .nav__item:nth-child(1),
.nav__right .nav__list .nav__item:nth-child(2),
.nav__right .nav__list .nav__item:nth-child(3) {
  display: none;
}

.nav__text {
  display: none;
}

/* Heading */
.heading {
  margin-top: 25px;
}

.heading__h1 {
  margin-left: 12px;
}

/* Scroll Menu */
.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  margin-top: 24px;
  scrollbar-width: none;
  /* Firefox fix*/
}

.scrollmenu__item {
  padding: 7px 14px;
}

/* First block */
.first-block {
  -webkit-margin-before: 8px;
}

.first-block__text {
  line-height: 18px;
  margin: 24px 16px;
  margin-bottom: 16px;
  -webkit-margin-before: 8px;
}

.first-block__button {
  margin: 14px 0;
}

.first-block__text2 {
  display: none;
}

/* Brands */

.brands__heading {
  padding: 16px;
  margin-bottom: 0;
}

.brands__list {
  flex-wrap: nowrap;
  padding: 0;
}

.brands__item {
  min-width: 238px;
  height: 72px;
  margin: 16px;
}
.brands {
  display: none;
}

/* swiper */

.brands-swiper-section {
  display: block;
  max-width: 768px;
  margin-inline: auto;
}

.swiper {
  width: 100%;
  height: 130px;
}

.swiper::after,
.swiper::before {
  display: inline-block;
  position: absolute;
  content: '';
  top: 14px;
  right: 0;
  width: 24px;
  height: 80px;
  background: linear-gradient(to right, $transparent, $bgColor) repeat-y;
  z-index: 2;
}

.swiper::before {
  left: 0;
  background: linear-gradient(to left, $transparent, $bgColor) repeat-y;
}

.swiper-slide {
  width: 240px;
}

.swiper-pagination {
  display: block;
  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-bottom: 14px;
  --swiper-pagination-color: $swiperGrey;
  --swiper-pagination-bullet-inactive-color: $lightGrey;
  --swiper-pagination-bullet-inactive-opacity: 1;
}
