@import './variables.scss';
@import './colors.scss';

.section__heading {
  color: $greyTextColor;
  text-transform: uppercase;
  font-weight: normal;
  box-shadow: inset 0px 1px 0px $brandsHeadingBg;
  background-image: linear-gradient(to right, $bgColor, $white);
  padding: 16px;
  margin-bottom: 0;
  @media screen and (min-width: $screen-md) {
    padding-inline: 24px;
    margin-bottom: 24px;
  }
  @media screen and (min-width: $screen-lg) {
    padding-inline: 32px;
  }
}

.section__list {
  display: flex;
  justify-content: flex-start;
  row-gap: 15px;
  flex-wrap: nowrap;
  padding: 0;
  @media screen and (min-width: $screen-md) {
    padding-left: 24px;
    flex-wrap: wrap;
  }
  @media screen and (min-width: $screen-lg) {
    padding-left: 32px;
  }
}

.section__item {
  background: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='38' height='38' rx='19' stroke='%23FF3E79' stroke-width='2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.5 20L17.7071 16.2071C17.3166 15.8166 17.3166 15.1834 17.7071 14.7929L17.7929 14.7071C18.1834 14.3166 18.8166 14.3166 19.2071 14.7071L23.7929 19.2929C24.1834 19.6834 24.1834 20.3166 23.7929 20.7071L19.2071 25.2929C18.8166 25.6834 18.1834 25.6834 17.7929 25.2929L17.7071 25.2071C17.3166 24.8166 17.3166 24.1834 17.7071 23.7929L21.5 20Z' fill='%23FF3E79'/%3E%3C/svg%3E%0A")
    no-repeat;
  background-position: 92% 50%;
  background-color: $white;
  list-style: none;
  width: 100%;
  height: 72px;
  border: 1px solid $brandsItemBorderClr;
  border-radius: 6px;
  overflow: hidden;
  margin: 16px;
  min-width: 238px;
  @media screen and (min-width: $screen-md) {
    height: 70px;
    min-width: auto;
    margin: 0;
    margin-right: 24px;
  }
  @media screen and (min-width: $screen-lg) {
    margin-right: 32px;
  }
}

.section__link {
  display: flex;
  padding-left: 16px;
  height: 100%;
  text-decoration: none;
}

.section__img {
  margin: auto 0;
  max-width: 128px;
}

.section__list.section__list--show-items {
  .swiper-slide {
    @media screen and (min-width: $screen-md) {
      &:nth-child(n + 7) {
        opacity: 1;
        height: 72px;
        flex-grow: 0;
        padding-bottom: 2px;
        transition: opacity 200ms linear, height 200ms linear;
      }
      &:last-child {
        margin-bottom: 24px;
      }
    }
    @media screen and (min-width: $screen-lg) {
      &:nth-child(n + 9) {
        opacity: 1;
        height: 72px;
        padding-bottom: 2px;
        transition: opacity 200ms linear, height 200ms linear;
      }
    }
  }
}