@import './variables.scss';
@import './colors.scss';
@import './fonts.scss';
@import './fog_of_war.scss';
@media screen and (max-width: 767px) {
  @import './swiper-bundle.min.scss';
}
@import './buttons.scss';
@import './navigation.scss';
@import './heading.scss';
@import './scroll_menu.scss';
@import './first_block.scss';
@import './section.scss';
@import './devices.scss';
@import './swiper.scss';
@import './sidebar.scss';
@import './price.scss';
@import './footer.scss';

* {
  margin: 0;
  padding: 0;
  font-family: 'TTLakes', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: $textColor;
}

html,
body {
  background-color: $bgColor;
  height: 100%;
  position: relative;
}

body * {
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
}

header,
main, 
footer {
  position: relative;
  max-width: 1194px;
  margin: 0 auto;
  @media screen and (min-width: $screen-lg) {
    width: calc(100% - 306px);
    left: 153px;
  }
}
