@import './colors.scss';
@import './fonts.scss';
@import './navigation.scss';
@import './variables.scss';
@import './heading.scss';
@import './scroll_menu.scss';
@import './first_block.scss';



* {
  margin: 0;
  padding: 0;
  font-family: 'TTLakes', Arial, Helvetica, sans-serif;
}

html,
body {
  background-color: $bgColor;
  height: 100%;
}

header,
main {
  position: relative;
  max-width: 1120px;
  margin: 0 auto;
}

.arrow-icon {
  align-self: center;
  padding-inline: 7px;
  width: 8px;
  height: 11px;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.50008 0.500076L4.00008 3.00008L1.50008 0.500076C1.22393 0.223933 0.776218 0.223933 0.500076 0.500076C0.223933 0.776218 0.223933 1.22393 0.500075 1.50008L3.29297 4.29297C3.68349 4.68349 4.31666 4.68349 4.70718 4.29297L7.50008 1.50008C7.77622 1.22393 7.77622 0.776218 7.50008 0.500076C7.22393 0.223933 6.77622 0.223933 6.50008 0.500076ZM6.50008 6.50008L4.00008 9.00008L1.50008 6.50008C1.22393 6.22393 0.776218 6.22393 0.500076 6.50008C0.223933 6.77622 0.223933 7.22393 0.500075 7.50008L3.29297 10.293C3.68349 10.6835 4.31666 10.6835 4.70718 10.293L7.50008 7.50008C7.77622 7.22393 7.77622 6.77622 7.50008 6.50008C7.22393 6.22393 6.77622 6.22393 6.50008 6.50008Z' fill='%2341F6D7' /%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.arrow-icon.arrow-icon--turned {
  transform: scale(-1);
}

/* Brands */

.brands__heading {
  color: $greyTextColor;
  text-transform: uppercase;
  font-weight: normal;
  padding: 16px 32px;
  margin-bottom: 24px;
  box-shadow: inset 0px 1px 0px $brandsHeadingBg;
  background-image: linear-gradient(to right, $bgColor, $white);
}

.brands__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 15px;
  padding-left: 32px;
}

.brands__item {
  margin-right: 32px;
  background: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='38' height='38' rx='19' stroke='%23FF3E79' stroke-width='2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.5 20L17.7071 16.2071C17.3166 15.8166 17.3166 15.1834 17.7071 14.7929L17.7929 14.7071C18.1834 14.3166 18.8166 14.3166 19.2071 14.7071L23.7929 19.2929C24.1834 19.6834 24.1834 20.3166 23.7929 20.7071L19.2071 25.2929C18.8166 25.6834 18.1834 25.6834 17.7929 25.2929L17.7071 25.2071C17.3166 24.8166 17.3166 24.1834 17.7071 23.7929L21.5 20Z' fill='%23FF3E79'/%3E%3C/svg%3E%0A")
    no-repeat;
  background-position: 92% 50%;
  background-color: $white;
  list-style: none;
  width: 100%;
  height: 70px;
  border: 1px solid $brandsItemBorderClr;
  border-radius: 6px;
  overflow: hidden;
}

.swiper-slide {
  display: flex;
  width: calc(100% / 4);
}

.brands__link {
  display: flex;
  padding-left: 16px;
  height: 100%;
  min-width: 190px;
  max-width: 222px;
}

.brands__img {
  margin: auto 0;
  max-width: 128px;
}

.brands__button {
  padding-left: 2.85vw;
  margin: 24px 3px;
  width: auto;
}

.brands__button-text {
  margin-left: 10px;
  font-weight: 500;
}


