@import './colors.scss';
@import './fonts.scss';
@import './buttons.scss';
@import './navigation.scss';
@import './variables.scss';
@import './heading.scss';
@import './scroll_menu.scss';
@import './first_block.scss';
@import './brands.scss';
@import './swiper.scss';
@import './sidebar.scss';

* {
  margin: 0;
  padding: 0;
  font-family: 'TTLakes', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: $textColor;
}

html,
body {
  background-color: $bgColor;
  height: 100%;
}

body * {
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
}

header,
main {
  position: relative;
  max-width: 1120px;
  margin: 0 auto;
}
