@import './variables.scss';
@import './colors.scss';

// SWIPER
.brands-swiper-section {
  display: block;
  margin-inline: auto;
}

.brands-swiper-section {
  .swiper {
    width: 100%;
    height: 130px;
    &::after,
    &::before {
      display: inline-block;
      position: absolute;
      content: '';
      top: 14px;
      right: 0;
      width: 24px;
      height: 80px;
      background: linear-gradient(to right, $transparent, $bgColor) repeat-y;
      z-index: 2;
    }
    &::before {
      left: 0;
      background: linear-gradient(to left, $transparent, $bgColor) repeat-y;
    }
    @media screen and (min-width: $screen-md) {
      &::after,
      &::before {
        display: none;
      }
    }
  }
}

.brands-swiper-section {
  .swiper.swiper--hidden {
    display: none;
    z-index: 0;
  }
}

.swiper {
  .swiper-slide {
    display: flex;
    width: 240px;

    @media screen and (min-width: $screen-md) and (max-width: 1365.98px) {
      width: calc(100% / 3);
      margin-right: 0 !important;
      &:nth-child(n + 7) {
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: opacity 200ms linear, height 200ms linear;
      }
    }

    @media screen and (min-width: $screen-xl) {
      width: calc(100% / 4);
      &:nth-child(n + 9) {
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: opacity 200ms linear, height 200ms linear;
      }
    }
  }
}

.brands__list.brands__list--show-brands {
  .swiper-slide {
    @media screen and (min-width: $screen-md) {
      &:nth-child(n + 7) {
        opacity: 1;
        height: 70px;
        flex-grow: 0;
        padding-bottom: 2px;
        transition: opacity 200ms linear, height 200ms linear;
      }
      &:last-child {
        margin-bottom: 24px;
      }
    }
    @media screen and (min-width: $screen-lg) {
      &:nth-child(n + 9) {
        opacity: 1;
        height: 70px;
        padding-bottom: 2px;
        transition: opacity 200ms linear, height 200ms linear;
      }
    }
  }
}

.swiper-pagination {
  display: block;
  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-bottom: 2px;
  --swiper-pagination-color: #b5b6bc;
  --swiper-pagination-bullet-inactive-color: #ddd;
  --swiper-pagination-bullet-inactive-opacity: 1;
  @media screen and (min-width: $screen-md) {
    display: none;
  }
}
