/* Brands */

.brands__heading {
  padding: 16px 24px;
}

.brands__list {
  padding-left: 24px;
}

.brands__item {
  display: block;
  margin-right: 24px;
}

.swiper-slide {
  width: calc(100% / 3);
  margin-right: 0 !important;
}

.swiper-slide:nth-child(n + 7) {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, height 200ms linear;
}

.brands__list.brands__list--show-brands .swiper-slide:nth-child(n + 7) {
  opacity: 1;
  height: 70px;
  flex-grow: 0;
  padding-bottom: 2px;
  transition: opacity 200ms linear, height 200ms linear;
}

.brands__list.brands__list--show-brands .swiper-slide:last-child {
  margin-bottom: 24px;
}

.brands__button {
  margin-top: 0;
}
